.cityCard{
    position: relative;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.cityCard img{
    width: 220px;
    height: 220px;
    border-radius: 30px;
}

@media screen and (max-width: 503px) {
    .cityCard img {
        width: 343px;
    }
}

.cityCard span{
    align-content: center;
    width: 200px;
    height: 36px;
    border-radius: 30px;
    position: absolute;
    left:10px;
    bottom: 14px;
    background-color: #FFFFFF;
    
}

@media screen and (max-width: 503px) {
    .cityCard span {
        width: 323px;
      
    }
}